<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="entete">
    <nav class="bg-blue-500 p-4 text-white">
        <div class="container mx-auto">
            <div class="flex justify-between items-center">
                <h1 class="text-2xl font-bold"><a th:href="@{/encheres}">ENI-Enchères</a></h1>
                <div class="flex items-center space-x-6">
                    <!-- Liens du menu de navigation -->
                    <li sec:authorize="!isAuthenticated()" class="inline-block">
                        <a th:href="@{/login}" class="hover:underline">S'inscrire - Se connecter</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="inline-block">
                        <a th:href="@{/enchere}" class="hover:underline">Enchères</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="inline-block">
                        <a th:href="@{/vendre_article}" class="hover:underline">Vendre un article</a>
                    </li>
             		<li sec:authorize="isAuthenticated()" class="inline-block">
                        <a th:href="@{/utilisateurs/detail/{id}(id=${utilisateurEnSession.noUtilisateur})}" class="hover:underline">Mon profil</a>
                    </li> 
                    <li sec:authorize="isAuthenticated()" class="inline-block">
                        <a th:href="@{/logout}" class="hover:underline">Déconnexion</a>
                    </li>
                </div>
                <!-- Section utilisateur connecté -->
                <div class="flex flex-col items-end">
                    <div class="text-right">
                        <p th:text="'Connecté : ' + ${utilisateurEnSession.pseudo}" class="mt-2"></p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>

