<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier Mot de Passe</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 p-6">
<div th:insert="~{fragments/fragment-entete :: entete}"></div>
<div class="max-w-3xl mx-auto bg-white shadow-md rounded-lg p-8">
    <h1 class="text-3xl font-bold mb-6 text-blue-600">Modifier Mot de Passe</h1>

    <form th:action="@{/utilisateurs/modif-mdp/{id}(id=${utilisateur.noUtilisateur})}" method="post" th:object="${utilisateur}" class="space-y-4">
       <div class="flex flex-col">
            <label for="motDePasse" class="text-lg font-semibold mb-2">Mot de passe :</label>
            <input type="password" th:field="*{motDePasse}" id="motDePasse" class="border rounded-lg p-2">
            <div th:if="${#fields.hasErrors('motDePasse')}" th:errors="*{motDePasse}" class="text-red-600"></div>
            <p class="mt-1 text-gray-600 text-sm">Le mot de passe doit contenir au moins :</p>
            <ul class="list-disc list-inside text-gray-600 text-sm">
                <li>8 caractères</li>
                <li>1 majuscule</li>
                <li>1 chiffre</li>
                <li>1 caractère spécial (ex : @, $, !, %)</li>
            </ul>
        </div>
        <div class="flex flex-col">
            <label for="confirmMotDePasse" class="text-lg font-semibold mb-2">Confirmer le mot de passe :</label>
            <input type="password" name="confirmMotDePasse" id="confirmMotDePasse" class="border rounded-lg p-2">
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Valider</button>
    </form>
</div>
</body>
</html>
