<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liste des enchères</title>
</head>
<body>
<header th:replace="~{fragments/fragment-entete :: entete}">
</header>


<main>
<h1>Liste des enchères</h1>
 
	<form th:action="@{/encheres/filtre}" method="post">
		<ul>
			<li>
				<label for="nom_article">Filtres</label>
				<input name="motCle" id="nom_article" type="text" placeholder="Le nom de l'article contient"/>
			</li>
			<li>
				<label for="categorie">Catégories</label>
				<select name="categorie" id="categorie" >
					<option value="0">Toutes</option>
					<option th:each="c : ${categories}" th:text="${c.libelle}" th:value="${c.noCategorie}"></option>
				</select>
			</li>
			<li>
				<button type="submit">Rechercher</button>
			</li>
		</ul>
	</form>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Prix :</th>
				<th>Fin de l'enchère :</th>
				<th>Vendeur :</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="av : ${article_vendu}">
				<td th:text="${av.nomArticle}"></td>
				<td th:text="${av.miseAPrix}"></td>
				<td th:text="${av.dateFinEncheres}"></td>
				<td th:text="${av.vend.pseudo}"></td>
			</tr>
		</tbody>

	</table>
</main>
</body>
</html>