<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Liste des enchères</title>
</head>
<body class="bg-gray-100 p-6">
<header th:replace="~{fragments/fragment-entete :: entete}"></header>

<main class="max-w-5xl mx-auto bg-white shadow-md rounded-lg p-8">
    <h1 class="text-2xl font-bold mt-8 text-blue-600 text-center">Liste des enchères</h1>

    <!-- Formulaire de filtre -->
	<form th:action="@{/encheres/filtre}" method="post" class="mb-6 flex flex-col md:flex-row md:items-start md:space-x-4">
	    <!-- Champ de recherche et Catégorie -->
	    <div class="flex flex-col w-full md:w-1/2 space-y-4">
	        <div class="w-full">
	            <label for="nom_article" class="block font-semibold">Le nom de l'article contient</label>
	            <input name="motCle" id="nom_article" type="text" placeholder="Rechercher" class="mt-2 p-2 border rounded w-full"/>
	        </div>
	
	        <div class="w-full">
	            <label for="categorie" class="block font-semibold">Catégories</label>
	            <select name="categorie" id="categorie" class="mt-2 p-2 border rounded w-full">
	                <option value="0">Toutes</option>
	                <option th:each="c : ${categories}" th:text="${c.libelle}" th:value="${c.noCategorie}"></option>
	            </select>
	        </div>
	
	        <!-- Options de filtre -->
	        <div class="flex items-center mt-4" sec:authorize="isAuthenticated()">
	            <div class="flex items-center space-x-4 w-full">
	                <div>
	                    <label><input id="achats" type="radio" name="choix" class="block font-semibold">Achats</label><br>
	                    <label><input id="achat1" type="checkbox" name="check" value="achat1"> enchères ouvertes</label><br>	                    
	                    <label><input id="achat2" type="checkbox" name="check" value="achat2"> mes enchères en cours</label><br>	                    
	                    <label><input id="achat3" type="checkbox" name="check" value="achat3"> mes enchères remportées</label>
	                </div>
	                <div>
	                    <label><input id="ventes" type="radio" name="choix" class="block font-semibold">Mes ventes</label><br>
	                    <label><input id="vente1" type="checkbox" name="check" value="vente1"> mes ventes en cours</label><br>
	                    <label><input id="vente2" type="checkbox" name="check" value="vente2"> ventes non débutées</label><br>
	                    <label><input id="vente3" type="checkbox" name="check" value="vente3"> ventes terminées</label>
	                </div>
	            </div>
	        </div>
	    </div>
	
	    <!-- Bouton de recherche centré -->
	    <div class="flex items-center justify-center w-full md:w-1/2 mt-4 md:mt-16">
	        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-6 px-8 rounded">Rechercher</button>
	    </div>
	</form>


    <!-- Liste des enchères sous forme de vignettes -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
        <div th:each="av : ${article_vendu}" class="bg-white p-4 rounded-lg shadow-lg hover:shadow-xl transition duration-300">
            <h2 class="text-lg font-semibold text-blue-600">
                <a th:if="${#authorization.expression('isAuthenticated()')}" 
                   th:href="@{'/articleVendu/detail/' + ${av.noArticle}}" 
                   th:text="${av.nomArticle}" 
                   class="hover:underline"></a>
                <span th:unless="${#authorization.expression('isAuthenticated()')}" th:text="${av.nomArticle}"></span>
            </h2>

            <p class="text-gray-700 mt-2"><span class="font-semibold">Prix :</span> <span th:text="${av.miseAPrix}" th:if="${av.prixVente} == 0"></span><span th:text="${av.prixVente}" th:if="${av.prixVente} != 0"></span> points</p>
            <p class="text-gray-700"><span class="font-semibold">Fin :</span> <span th:text="${av.dateFinEncheres}"></span></p>
            <p class="text-gray-700">
                <span class="font-semibold">Vendeur :</span>
               <a th:if="${#authorization.expression('isAuthenticated()')}" 
                   th:href="@{'/utilisateurs/detail/' + ${av.vend.noUtilisateur}}" 
                   th:text="${av.vend.pseudo}" 
                   class="text-blue-500 hover:underline"></a>
                <span th:unless="${#authorization.expression('isAuthenticated()')}" th:text="${av.vend.pseudo}"></span>
            </p>
            <div class="mt-4">
                <a th:if="${#authorization.expression('isAuthenticated()')}" 
                   th:href="@{'/articleVendu/detail/' + ${av.noArticle}}" 
                   class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded inline-block text-center w-full">
                    Voir Détails
                </a>
            </div>
        </div>
    </div>
</main>

<script src="../static/js/script-filtre.js"></script>

</body>
</html>
