<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liste des enchères</title>
</head>
<body>
<header th:replace="~{fragments/fragment-entete :: entete}">
</header>


<main>
<h1>Liste des enchères</h1>

	<form action="">
		<ul>
			<li>
				<label for="nom_article">Filtres</label>
				<input id="nom_article" type="text" placeholder="Le nom de l'article contient"/>
			</li>
			<li>
				<label for="categorie">Catégories</label>
				<select name="categorie" id="categorie" >
					<option value="0">Toutes</option>
					<option th:each="c : ${categories}" th:text="${c.libelle}" th:value="${c.noCategorie}"></option>
				</select>
			</li>
			<li>
				<button type="submit">Rechercher</button>
			</li>
		</ul>
	</form>
	<form action="">
		<ul>
			<li>
				<label for="nom_article"></label>
				<input id="nom_article" type="text" value=""/>
			</li>
			<li>
				<label for="prix_vente">Prix :</label>
				<input id="prix_vente" type="text" value=""/>
			</li>
			<li>
				<label for="idFinEnchere">Fin de l'enchère :</label>
				<input id="idFinEnchere" type="date" value=""/>
			</li>
			<li>
				<label for="idVendeur">Vendeur :</label>
				<input id="idVendeur" type="text" value=""/>
			</li>
		</ul>
	</form>
</main>
</body>
</html>