<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Enchères</title>
</head>
<body>

<div th:insert="~{fragments/fragment-entete :: entete}"></div>

<main >
		<form action="" method="POST">
			<h1>Nouvelle vente</h1>
			
			<div class="cards" th:if="${#fields.hasErrors('*')}">
				<h2>Attention : Veuillez vérifier vos champs</h2>
			</div>
			<ul th:if="${#fields.hasErrors('global')}">
		  		<li th:each="err : ${#fields.errors('global')}" th:text="#{${err}}">Input is incorrect</li>
			</ul>
			<ul class="">
				<li>
					<label for="nomArticle">Article</label>
					<input id="nomArticle" type="text" />
					
				</li>
				<li>
					<label for="description">Description</label>
					<textarea id="description" ></textarea>

				</li>
				<li>
					<label for="categorie">Catégories</label>
				<select name="categorie" id="categorie" >
					<option th:each="c : ${categories}" th:text="${c.libelle}" th:value="${c.noCategorie}"></option>
				</select>
					
				</li>
				<li>
					<label for="photo">Photo de l'article</label>
				</li>
				<li>
					<label for="miseAPrix">Mise à prix</label>
					<input id="miseAPrix" type="number" />
					
				</li>
				<li>
					<label for="dateDebutEncheres">Début de l'enchère</label>
					<input id="dateDebutEncheres" type="datetime" />
					
				</li>
				<li>
					<label for="dateFinEncheres">Fin de l'enchère</label>
					<input id="dateFinEncheres" type="datetime"/>
					
				</li>
				<li>
					<label for="rue">Rue</label>
					<textarea id="rue"></textarea>
				</li>
				<li>
					<label for="codepostal">Code Postal</label>
					<textarea id="codepostal" ></textarea>

				</li>
				<li>
					<label for="ville">Ville</label>
					<textarea id="ville" ></textarea>
					
				</li>
				<li>
					<button type="submit">Enregistrer</button>
					<table>
						<td>
							<a th:href="@{/encheres}">Annuler</a>
						</td>
					</table>
				</li>
			</ul>
		</form>
	</main>



</body>
</html>